[Unit]
Description=PipiTrek Web Service for Astrophotography
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /root/astro/pipitrek/pipitrek.py
WorkingDirectory=/root/astro/pipitrek
Restart=on-failure
RestartSec=5
User=root
StandardOutput=append:/root/astro/pipitrek/pipitrek.log
StandardError=append:/root/astro/pipitrek/pipitrek.log

[Install]
WantedBy=multi-user.target