td, th, tr {
    border: 1px solid black; 
}

@font-face {
    font-family: 'Unbounded';
    src: url('../static/fonts/static/Unbounded-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    font-family: 'Unbounded';
    font-size: 12px;
}

body.night-mode {
    background-color: #121212; /* Dark background */
    color: #919191; /* Light text */
}

label,div {
    color: #a1a1a1; /* Light text */
}

textarea, input {
    background-color: #323232; /* Dark background */
    color: #ffffff; /* Light text */
}

button {
    background-color: #4c4b52; /* Dark control button background */
    color: #ffffff; /* Light text */
    border: 1px solid #555555;
    font-family: 'Unbounded';
}

button:hover {
    background-color: #545454; /* Slightly lighter on hover */
}


td {
    vertical-align: middle;
}

img {
    cursor: crosshair;
}

input[type="range"] {
    width: 200px; /* Adjust as needed */
}

.num_input {
    width: 30px;
    padding: 2px;
}

.mini_num_input {
    width: 16px;
    padding: 2px;
}



iframe {
    width:630px;
    height: 720px;
    border: none;
}


.hidden {
    display: none !important;
}

.disabled {
    pointer-events: none; /* Disable interactions */
    opacity: 0.5; /* Make it look grayed out */
}

.red {
    color: black;
    font-weight: 800;
    background-color: lightcoral;
}

.main-table {
    width:100%; 
    height:740px;
    margin: 0px;
}

.telescope-container {
    width:600px;
    display: flex;
    align-items: flex-start;
    gap: 5px;
    border: 0px solid black;
}

.control-button {
    width: 50px;
    height: 50px;
    margin: 1px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}

.mini-button {
    width: 36px;
    height: 20px;
    margin: 0px;
    font-size: 12px;
    text-align: left;
    vertical-align: middle;
}

.command-button {
    width: 112px;
    height: 22px;
    margin: 2px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}
.command-button:active {
    background-color: rgb(94, 18, 18);
    color: white; /* Optional: Change text color for better contrast */
}
.command-button.active {
    background-color: rgb(8, 100, 8); /* Active state background color */
    color: white; /* Active state text color */
    font-weight: bold; /* Optional: Make the text bold */
}
#command-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}



.flex1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0px;
    height : 100%;
}



.vspacer {
    height: 54px;
}

.two_buttons {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px;
    border: 0px solid black;
}

.two_buttons_input {
    width: 89px;
    height: 18px;
    padding: 1px;
    gap: 2px;
    margin-top:1px
}

.boxy {
    width: 245px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
    border: 2px solid #626262;
}


.parameter {
    margin-bottom: 5px;
}
.parameter input {
    margin-left: 10px;
}
.tracking-pad {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
}

.parameters-table {
    width: 100%;
    height: 100%;
    margin: 0px 0px;
    vertical-align: middle;
}

.parameters-table td {
    padding: 0px;
    align-items: center;
    vertical-align: middle;
}

.parameters-table td:first-child {
    width: 240px;
    text-align: left;
    align-items: center;
    font-weight: normal;
    vertical-align: middle;
}

.parameters-table td:nth-child(2) {
    align-items: center;
    gap: 0px; /* Space between input and span */
    vertical-align: middle;
}

.controller-row {
    height : 22px;
}


  /* Green text for "LOCK" */
.lock {
    color: green;
    font-weight: bold;
}

/* Red text for "NO LOCK" */
.no-lock {
    color: red;
    font-weight: bold;
}

#detail_feed {
    width: 80px; /* Set the width to 80px */
    height: 80px; /* Set the height to 80px */
    image-rendering: pixelated; /* Disable interpolation for sharp pixels */
    image-rendering: crisp-edges; /* Fallback for some browsers */
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    cursor: crosshair;
}
#video_container {
    position: relative;
    display: inline-block;
}

#result {
    width: 368px;
    height: 225px;
    margin-top: 0px;
}

#telescope-info {
    width: 140px;
    height: 225px;
    margin-top: 0px;
}
#pec_table {
    width: 100px;
    height: 225px;
    margin-top: 0px;
}

#telescopeContainer {
    width: 372px; 
    height:280px; 
    margin-top: 0px;
    overflow: hidden; /* Hide overflow */
}

@keyframes psychedelicEffect {
    0% {
        filter: hue-rotate(0deg) brightness(1) contrast(1);
    }
    12% {
        filter: hue-rotate(45deg) brightness(0.9) contrast(1.2);
    }
    25% {
        filter: hue-rotate(90deg) brightness(0.7) contrast(1.2);
    }
    37% {
        filter: hue-rotate(120deg) brightness(0.55) contrast(1.2);
    }
    50% {
        filter: hue-rotate(180deg) brightness(0.4) contrast(1.5);
    }
    62% {
        filter: hue-rotate(210deg) brightness(0.85) contrast(1.5);
    }
    75% {
        filter: hue-rotate(270deg) brightness(1.1) contrast(1.2);
    }
    87% {
        filter: hue-rotate(310deg) brightness(1.5) contrast(1.2);
    }
    100% {
        filter: hue-rotate(360deg) brightness(1) contrast(1);
    }
}

.psychedelic {
    animation: psychedelicEffect 1s infinite;
}