<!DOCTYPE html>
<html>
<head>
    <title>Autoguider Live Feed</title>
    <link rel="stylesheet" href="../static/style.css" />
    <script src="../static/chart.js"></script>
</head>
<body onload="Load()">
    <button class="command-button" onclick="showControl()">Control</button>
    <button class="command-button" onclick="showVideoFeed()">Video</button>
    <button class="command-button" onclick="showThreshFeed()">Threshold</button>
    <button class="command-button" onclick="shutdown()">Shutdown</button>
    Autoguider 0.4

    <table style="width:100%; height:740px;">
        <tr>
            <td>
                <div id="video_container">
                    <iframe id="control_frame" src="{{ url_for('control') }}" width="1280" height="720"></iframe>
                    <img id="video_feed" src="{{ url_for('video_feed') }}" width="1280" height="720" class="hidden">
                    <img id="thresh_feed" src="{{ url_for('thresh_feed') }}" width="1280" height="720" class="hidden">
                    <canvas id="canvas" width="1280" height="720" class="hidden"></canvas>
                </div>
            </td>
            <td >
                <table id="autoguider_panel" class="parameters-table">
                    
                    <tr>
                        <td>
                            <input type="checkbox" id="guiding" onchange="setGuiding(this.checked)">Guiding</input><br>
                            loop:<span id="last_loop_time">0</span> s<br>
                            frame:<span id="last_frame_time">0</span> s
                        </td>
                        <td>
                            <span id="star-lock-state" class="no-lock">NO LOCK</span>
                            <img id="detail_feed" src="../static/Airy.png" alt="Not Available">
                            <div>dx:<span id="dx">0</span><br> dy:<span id="dy">0</span></div>
                            <div>dRA:<span id="ra_arcsec">0.0</span>(<span id="ra">0</span>) <br> dDE:<span id="dec_arcsec">0.0</span>(<span id="dec">0</span>)</div>
                        </td>
                        
                    </tr>

                    <tr>
                        <td><button class="command-button" onclick="acquire()">Acquire Star</button></td>
                        <td><button class="command-button" onclick="calibrate()">Calibrate angle</button></td>
                    </tr>
                    <tr>
                    </tr>

                    <tr>
                        <td><label for="guide_interval">Guide interval:</label></td>
                        <td>
                            <input type="range" id="guide_interval" name="guide_interval" min="0" max="10" step="0.1" value="{{ guide_interval }}" oninput="submitGuideInterval()">
                            <span id="guide_interval_value">{{ guide_interval }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="guide_pulse">Guide pulse:</label></td>
                        <td>
                            <input type="range" id="guide_pulse" name="guide_pulse" min="0" max="2" step="0.1" value="{{ guide_pulse }}" oninput="submitGuidePulse()">
                            <span id="guide_pulse_value">{{ guide_pulse }}</span>
                        </td>
                    </tr>

                    <tr>
                        <td><label for="threshold">Threshold:</label></td>
                        <td>
                            <input type="range" id="threshold" name="threshold" min="0" max="255" value="{{ threshold }}" oninput="submitThreshold()">
                            <span id="threshold_value">{{ threshold }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="max_drift">Max Drift:</label></td>
                        <td>
                            <input type="range" id="max_drift" name="max_drift" min="0" max="10" step = "0.1" value="{{ max_drift }}" oninput="submitMaxDrift()">
                            <span id="max_drift_value">{{ max_drift }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="star_size">Star Size:</label></td>
                        <td>
                            <input type="range" id="star_size" name="star_size" min="1" max="20" value="{{ star_size }}" oninput="submitStarSize()">
                            <span id="star_size_value">{{ star_size }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="rotation_angle">Rotation Angle (deg):</label></td>
                        <td>
                            <input type="range" id="rotation_angle" name="rotation_angle" min="-180" max="180" value="{{ rotation_angle }}" step="1" oninput="submitRotationAngle()">
                            <span id="rotation_angle_value">{{ rotation_angle }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="pixel_scale">Pixel Scale (arcsec/pixel):</label></td>
                        <td>
                            <input type="range" id="pixel_scale" name="pixel_scale" min="0.1" max="10.0" value="{{ pixel_scale }}" step="0.1" oninput="submitPixelScale()">
                            <span id="pixel_scale_value">{{ pixel_scale }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="exposure">Exposure (0.0 - 1.0):</label></td>
                        <td>
                            <input type="range" id="exposure" name="exposure" min="0.0" max="1.0" step="0.01" value="{{ exposure }}" oninput="submitExposure()">
                            <span id="exposure_value">{{ exposure }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="gain">Gain (0.0 - 1.0):</label></td>
                        <td>
                            <input type="range" id="gain" name="gain" min="0.0" max="1.0" step="0.01" value="{{ gain }}" oninput="submitGain()">
                            <span id="gain_value">{{ gain }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="integrate_frames">Integrate Frames (1 - 20):</label></td>
                        <td>
                            <input type="range" id="integrate_frames" name="integrate_frames" min="1" max="20" step="1" value="{{ integrate_frames }}" oninput="submitIntegrate_frames()">
                            <span id="integrate_frames_value">{{ integrate_frames }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="r_channel">R Channel:</label></td>
                        <td>
                            <input type="range" id="r_channel" name="r_channel" min="0.0" max="1.0" step="0.01" value="{{ r_channel }}" oninput="submitChannels()">
                            <span id="r_channel_value">{{ r_channel }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="g_channel">G Channel:</label></td>
                        <td>
                            <input type="range" id="g_channel" name="g_channel" min="0.0" max="1.0" step="0.01" value="{{ g_channel }}" oninput="submitChannels()">
                            <span id="g_channel_value">{{ g_channel }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="b_channel">B Channel:</label></td>
                        <td>
                            <input type="range" id="b_channel" name="b_channel" min="0.0" max="1.0" step="0.01" value="{{ b_channel }}" oninput="submitChannels()">
                            <span id="b_channel_value">{{ b_channel }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <div >
                                <table>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <button class="control-button" onclick="sendCorrection('n')">↑</button>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button class="control-button" onclick="sendCorrection('e')">←</button>
                                        </td>
                                        <td></td>
                                        <td>
                                            <button class="control-button" onclick="sendCorrection('w')">→</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <button class="control-button" onclick="sendCorrection('s')">↓</button>
                                        </td>
                                        <td></td>
                                    </tr>
                                </table>
                                
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <canvas id="correctionsChart" width="1600px" height="200px"></canvas>
</body>

<script>
    let correctionsChart;

    function initializeChart() {
        const ctx = document.getElementById('correctionsChart').getContext('2d');
        correctionsChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [],
                datasets: [
                    { label: 'RA', data: [], borderColor: 'yellow', fill: false },
                    { label: 'DEC', data: [], borderColor: 'blue', fill: false },
                    { label: 'DX', data: [], borderColor: 'green', fill: false },
                    { label: 'DY', data: [], borderColor: 'orange', fill: false },
                    { label: 'RA Arcsec', data: [], borderColor: 'purple', fill: false },
                    { label: 'DEC Arcsec', data: [], borderColor: 'brown', fill: false },
                ],
            },
            options: {
                responsive: false,
                scales: {
                    x: { title: { display: true, text: 'Time' } },
                    y: { title: { display: true, text: 'Values' } },
                },
            },
        });
    }

    function Load() {

        // Call this function once when the page loads
        initializeChart();

    }
    
    const ws = new WebSocket('ws://' + window.location.hostname + '/autoguider_socket');
    
    ws.onmessage = function(event) {
        processCorrections(JSON.parse(event.data));
    };

    ws.onclose = function() {
        console.error("Websocket closed.")
    };


    //setInterval(updateCorrections, 1000);

    function updateCorrections() {
        fetch('/properties')
            .then(response => response.json())
            .then(data => {
                processCorrections(data);
            })
            .catch(error => console.error('Error:', error.message));
    }

    function processCorrections(data) {

        if(data.status === 'error') {
            // autoguider is off
            return;
        }
        
        document.getElementById('last_loop_time').textContent = data.last_loop_time;
        document.getElementById('last_frame_time').textContent = data.last_frame_time;

        document.getElementById('ra').textContent = data.last_correction.ra;
        document.getElementById('dec').textContent = data.last_correction.dec;
        document.getElementById('dx').textContent = data.last_correction.dx;
        document.getElementById('dy').textContent = data.last_correction.dy;
        document.getElementById('ra_arcsec').textContent = data.last_correction.ra_arcsec.toFixed(1);
        document.getElementById('dec_arcsec').textContent = data.last_correction.dec_arcsec.toFixed(1);
        document.getElementById('threshold').value = data.gray_threshold;
        document.getElementById('threshold_value').textContent = data.gray_threshold;
        document.getElementById('max_drift').value = data.max_drift;
        document.getElementById('max_drift_value').textContent = data.max_drift;

        document.getElementById('star_size').value = data.star_size;
        document.getElementById('star_size_value').textContent = data.star_size;

        document.getElementById('rotation_angle').value = data.rotation_angle;
        document.getElementById('rotation_angle_value').textContent = data.rotation_angle;

        document.getElementById('pixel_scale').value = data.pixel_scale;
        document.getElementById('pixel_scale_value').textContent = data.pixel_scale;

        document.getElementById('exposure').value = data.exposure;
        document.getElementById('exposure_value').textContent = data.exposure;

        document.getElementById('gain').value = data.gain;
        document.getElementById('gain_value').textContent = data.gain;

        document.getElementById('integrate_frames').value = data.integrate_frames;
        document.getElementById('integrate_frames_value').textContent = data.integrate_frames;

        document.getElementById('r_channel').value = data.r_channel;
        document.getElementById('r_channel_value').textContent = data.r_channel;
        document.getElementById('g_channel').value = data.g_channel;
        document.getElementById('g_channel_value').textContent = data.g_channel;
        document.getElementById('b_channel').value = data.b_channel;
        document.getElementById('b_channel_value').textContent = data.b_channel;

        document.getElementById('guiding').checked = data.guiding;
        
        document.getElementById('guide_pulse').value = data.guide_pulse;
        document.getElementById('guide_pulse_value').textContent = data.guide_pulse;
        document.getElementById('guide_interval').value = data.guide_interval;
        document.getElementById('guide_interval_value').textContent = data.guide_interval;

        // Update the star lock state
        const starLockState = document.getElementById('star-lock-state');
        if (data.star_locked) {
            starLockState.textContent = "LOCK";
            starLockState.classList.remove('no-lock');
            starLockState.classList.add('lock');
        } else {
            starLockState.textContent = "NO LOCK";
            starLockState.classList.remove('lock');
            starLockState.classList.add('no-lock');
        }

        const canvas = document.getElementById('canvas');
        const ctx = canvas.getContext('2d');
        ctx.clearRect(0, 0, canvas.width, canvas.height);

        if (data.tracked_centroid) {
            ctx.strokeStyle = 'green';
            ctx.beginPath();
            ctx.arc(data.tracked_centroid[0], data.tracked_centroid[1], 10, 0, 2 * Math.PI);
            ctx.stroke();
        }

        if (data.current_centroid) {
            ctx.strokeStyle = 'red';
            ctx.beginPath();
            ctx.arc(data.current_centroid[0], data.current_centroid[1], 10, 0, 2 * Math.PI);
            ctx.stroke();
        }
        
        
        drawAxes(data.rotation_angle);

        // Update the chart with new data
        const currentTime = new Date().toLocaleTimeString(); // Use current time as the label

        correctionsChart.data.labels.push(currentTime);
        // Add new data points to each dataset
        if (data.star_locked) {
            correctionsChart.data.datasets[0].data.push(data.last_correction.ra);
            correctionsChart.data.datasets[1].data.push(data.last_correction.dec);
            correctionsChart.data.datasets[2].data.push(data.last_correction.dx);
            correctionsChart.data.datasets[3].data.push(data.last_correction.dy);
            correctionsChart.data.datasets[4].data.push(data.last_correction.ra_arcsec);
            correctionsChart.data.datasets[5].data.push(data.last_correction.dec_arcsec);
        } else {
            // Add null to the main datasets to maintain alignment
            for(i=0;i<6;i++) {
                correctionsChart.data.datasets[i].data.push(null);
            }
        }

        // Limit the number of data points to avoid overcrowding
        if (correctionsChart.data.labels.length > 120) {
            correctionsChart.data.labels.shift(); // Remove the oldest label
            correctionsChart.data.datasets.forEach(dataset => {
            if (dataset.data.length > 0) {
                dataset.data.shift(); // Remove the oldest data point
                }
            });
        }

        // Update the chart
        correctionsChart.update();
    }


    // Check the feed availability every 5 seconds
    setInterval(checkDetailFeed, 5000);

    function checkDetailFeed() {
        const detailFeed = document.getElementById('detail_feed');
        const feedUrl = "{{ url_for('detail_feed') }}"; // Replace with the actual feed URL

        // Set the feed URL and handle errors
        detailFeed.src = feedUrl;

        // Handle the case where the feed is not available
        detailFeed.onerror = function () {
            detailFeed.src = "../static/Airy.png"; // Fallback to placeholder
            detailFeed.alt = "Not Available";
        };

        // Handle the case where the feed becomes available
        detailFeed.onload = function () {
            detailFeed.alt = "Detail Feed";
        };
    }
    
    function drawAxes(rotation_angle) {
        const canvas = document.getElementById('canvas');
        const ctx = canvas.getContext('2d');
        const centerX = canvas.width / 2;
        const centerY = canvas.height / 2;
        const length = 150; // Length of the axes

        // Convert rotation angle to radians
        const angleRad = rotation_angle * (Math.PI / 180);

        // Calculate the end points of the RA and DEC axes
        // Y axis is upside down.. so we have minus sign with Y
        const raX = centerX + length * Math.cos(angleRad);
        const raY = centerY - length * Math.sin(angleRad);
        const decX = centerX - length * Math.sin(angleRad);
        const decY = centerY - length * Math.cos(angleRad);

        // Draw the RA axis
        ctx.strokeStyle = 'green';
        ctx.lineWidth = 1;
        ctx.beginPath();
        ctx.moveTo(centerX, centerY);
        ctx.lineTo(raX, raY);
        ctx.stroke();

        // Draw the DEC axis
        ctx.beginPath();
        ctx.moveTo(centerX, centerY);
        ctx.lineTo(decX, decY);
        ctx.stroke();

        // Add labels
        ctx.font = '12px Arial';
        ctx.fillStyle = 'green';
        ctx.fillText('RA', raX + 5, raY + 5);
        ctx.fillText('DEC', decX + 5, decY + 5);
    }

    function submitChannels() {
        const r_channel = document.getElementById('r_channel').value;
        const g_channel = document.getElementById('g_channel').value;
        const b_channel = document.getElementById('b_channel').value;

        document.getElementById('r_channel_value').textContent = r_channel;
        document.getElementById('g_channel_value').textContent = g_channel;
        document.getElementById('b_channel_value').textContent = b_channel;


        fetch('/set_channels', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ r_channel, g_channel, b_channel }),
        })
    }

    function submitSetting(name, value) {
        fetch(`/set_${name}`, {
            method: 'POST',
            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            body: `${name}=${value}`
        });        
    }


    function submitThreshold() {
        const threshold = document.getElementById('threshold').value;
        document.getElementById('threshold_value').textContent = threshold;
        submitSetting("threshold", threshold);
    }

    function submitMaxDrift() {
        const max_drift = document.getElementById('max_drift').value;
        document.getElementById('max_drift_value').textContent = max_drift;
        submitSetting("max_drift", max_drift);
    }

    function submitStarSize() {
        const star_size = document.getElementById('star_size').value;
        document.getElementById('star_size_value').textContent = star_size;
        submitSetting("star_size", star_size);
    }

    function submitRotationAngle() {
        const rotation_angle = document.getElementById('rotation_angle').value;
        document.getElementById('rotation_angle_value').textContent = rotation_angle;
        submitSetting("rotation_angle", rotation_angle);
    }

    function submitPixelScale() {
        const pixel_scale = document.getElementById('pixel_scale').value;
        document.getElementById('pixel_scale_value').textContent = pixel_scale;
        submitSetting("pixel_scale", pixel_scale);
    }

    function submitExposure() {
        const exposure = document.getElementById('exposure').value;
        document.getElementById('exposure_value').textContent = exposure;
        submitSetting("exposure", exposure);
    }

    function submitGain() {
        const gain = document.getElementById('gain').value;
        document.getElementById('gain_value').textContent = gain;
        submitSetting("gain", gain);
    }
    
    function submitGuideInterval() {
        const guide_interval = document.getElementById('guide_interval').value;
        document.getElementById('guide_interval_value').textContent = guide_interval;
        submitSetting("guide_interval", guide_interval);
    }
    
    function submitGuidePulse() {
        const guide_pulse = document.getElementById('guide_pulse').value;
        document.getElementById('guide_pulse_value').textContent = guide_pulse;
        submitSetting("guide_pulse", guide_pulse);
    }
    

    function submitIntegrate_frames() {
        const integrate_frames = document.getElementById('integrate_frames').value;
        document.getElementById('integrate_frames_value').textContent = integrate_frames;
        submitSetting("integrate_frames", integrate_frames);
    }

    function setGuiding(isGuiding) {
      submitSetting("guiding", isGuiding);
    }

    function acquire() {
        fetch('/acquire', { method: 'POST' })
            .then(response => console.log('Acquisition triggered'))
            .catch(error => console.error('Acquisition error:', error));
    }

    function calibrate() {
        fetch('/calibrate', { method: 'POST' })
            .then(response => console.log('Calibration triggered'))
            .catch(error => console.error('Calibration error:', error));
    }

    document.getElementById("canvas").addEventListener('click', function(event) {
        const rect = this.getBoundingClientRect();
        const x = event.clientX - rect.left; // X relative to image
        const y = event.clientY - rect.top;  // Y relative to image
        fetch('/acquire', {
            method: 'POST',
            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            body: `x=${x}&y=${y}`
        })
        .then(response => console.log(`Acquisition at (${x}, ${y}) triggered`))
        .catch(error => console.error('Acquisition error:', error));
    });

    function showVideoFeed() {
        document.getElementById('video_feed').src = "{{ url_for('video_feed') }}";
        document.getElementById('thresh_feed').src = '';

        document.getElementById('video_feed').classList.remove('hidden');
        document.getElementById('canvas').classList.remove('hidden');
        document.getElementById('thresh_feed').classList.add('hidden');
        document.getElementById('control_frame').classList.add('hidden');
    }

    function showThreshFeed() {
        document.getElementById('video_feed').src = '';
        document.getElementById('thresh_feed').src = "{{ url_for('thresh_feed') }}";

        document.getElementById('video_feed').classList.add('hidden');
        document.getElementById('canvas').classList.remove('hidden');
        document.getElementById('thresh_feed').classList.remove('hidden');
        document.getElementById('control_frame').classList.add('hidden');
    }

    function showControl() {
        document.getElementById('video_feed').src = '';
        document.getElementById('thresh_feed').src = '';
        document.getElementById('video_feed').classList.add('hidden');
        document.getElementById('thresh_feed').classList.add('hidden');
        document.getElementById('canvas').classList.add('hidden');
        document.getElementById('control_frame').classList.remove('hidden');
    }


    function sendCorrection(direction) {
        fetch('/control_correction', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `direction=${direction}`
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
        })
        .catch((error) => {
            console.log('Error:', error);
        });
    }

    function shutdown() {
        if (confirm("Are you sure you want to shut down the telescope?")) {
            fetch('/shutdown', {
                method: 'POST'
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.log('Error:', error);
            });
        } else {
            console.log('Shutdown canceled.');
        }        

    }


</script>
</html>