<!DOCTYPE html>
<html>
<head>
    <title>Telescope Control</title>
    <link rel="stylesheet" href="../static/style.css" />
    <script src="../static/inputmask.min.js"></script>
    <script src="../static/wheel.js"></script>
</head>
<body>
    <h1>Telescope Control</h1>
    <div class="telescope-container">
        <div id="control-buttons">
            <table>
                <tr>
                    <img src="../static/PIPITREK.webp" style="width: 100%; max-width: 200px; margin-top: 0px; ">
                </tr>
                <tr>
                    <td>
                        <button class="control-button" onclick="sendSpeed('G')">slow</button>
                    </td>
                    <td>
                        <button class="control-button" onclick="sendDirection('n')">↑</button>
                    </td>
                    <td>
                        <button class="control-button" onclick="sendSpeed('S')">fast</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="control-button" onclick="sendDirection('e')">←</button>
                    </td>
                    <td><button class="control-button" onclick="sendStop()">Stop</button></td>
                    <td>
                        <button class="control-button" onclick="sendDirection('w')">→</button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button class="control-button" onclick="sendDirection('s')">↓</button>
                    </td>
                    <td></td>
                </tr>

                <tr>
                    <td colspan="3">
                        <div id="turning-wheel-container">
                            <canvas id="pec-wheel" width="80" height="80"></canvas>
                            <div>
                                <label for="pec-position">PEC</label>
                                <input class="mini_num_input" type="text" id="pec-position" value="0">
                                <button class="mini-button" onclick="setPECPosition()">SET</button>
                            </div>
                        </div>
                    </td>
                </tr>

            </table>       
        </div>

        <div id="command-buttons">
            
            <div class = 'two_buttons'>
                <button class="command-button" onclick="getInfo()">Get Info</button>
                <button class="command-button" onclick="showTerminal()">Terminal</button>
            </div>
            <div class = 'two_buttons'>
                <button class="command-button" onclick="receivePEC()">Receive PEC</button>
                <button class="command-button" onclick="sendPEC()">Send PEC</button>
            </div>
            <div class = 'two_buttons'>
                <button class="command-button" onclick="resetArduino()">Reset Arduino</button>
                <div>
                    <input type="checkbox" id="quiet" onchange="setQuiet(this.checked)" checked>
                    <label for="quiet">Quiet mode</label>
                </div>
            </div>
            <div class = 'two_buttons'>
                <div>
                    <label>Pier:</label>
                    <input type="radio" id="pier_w" name="pier" value="W" onchange="setPier(this.value)">
                    <label for="pier_w">W</label>
                    <input type="radio" id="pier_e" name="pier" value="E" onchange="setPier(this.value)">
                    <label for="pier_e">E</label>
                </div>
                <div>
                    <input type="checkbox" id="tracking" onchange="setTracking(this.checked)" checked>
                    <label for="tracking">Tracking</label>
                </div>
            </div>

            <div class = 'boxy'>
                <div class = 'two_buttons'>
                    <button class="command-button" onclick="submitSetTo()">SET to</button>
                    <button class="command-button" onclick="submitGoto()">GOTO</button>
                </div>
                <div class = 'two_buttons'>
                    <div>
                        <label for="ra-input">RA</label>
                        <input class="two_buttons_input" type="text" id="ra-input" placeholder="+HH:MM:SS#"  required>
                    </div>
                    <div>
                        <label for="dec-input">DE</label>
                        <input class="two_buttons_input" type="text" id="dec-input" placeholder="+DD*MM'SS#"  required>
                    </div>
                </div>
            </div>
            
            <div class = 'boxy'>
                Camera
                <div class = 'two_buttons'>
                    <div>
                        <label for="shots-input">Shots</label>
                        <input class="num_input" type="text" id="shots-input" placeholder="0">
                    </div>
                    <div>
                        <label for="exposure-input"> each </label>
                        <input class="num_input" type="text" id="exposure-input" placeholder="30">
                        seconds
                    </div>
                </div>
                <div class = 'two_buttons'>
                    <button class="command-button" onclick="submitCamera()">SET</button>
                    <button id="camera-shooting" class="command-button" onclick="startCamera()">START</button>
                </div>
            </div>

            <div class = 'two_buttons vspacer'>
            </div>

            <div id="upload-firmware" class="boxy">
                Upload Firmware
                <form id="uploadForm" enctype="multipart/form-data" style="width:100%;">
                    <input type="file" id="firmware" name="firmware" accept=".hex" style="width:100%;">
                </form>
                <button class="command-button red" type="button" onclick="uploadFirmware()">Upload</button>
            </div>

        </div>
        <div id="info-boxes" class = "flex1">
            <textarea id="telescope-info"  placeholder="INFO"></textarea>
            <textarea id="pec_table" placeholder="PEC Table"></textarea>       
        </div>
        <div id="result-boxes" class = "flex1">
            <textarea id="result" placeholder="Result"></textarea>
        </div>
        <iframe id="terminal_frame" src="{{ url_for('terminal') }}" width="720" height="480" class="hidden"></iframe>
    </div>
    

    <script>
        PEC_wheel = make_wheel();

        last_info = last_pec = "";

        function showTerminal() {
            document.getElementById('info-boxes').classList.toggle('hidden');
            document.getElementById('result-boxes').classList.toggle('hidden');
            document.getElementById('terminal_frame').classList.toggle('hidden');
        }

        function appendToResult(message) {
            const resultTextarea = document.getElementById('result');
            resultTextarea.value += message + '\n';
            resultTextarea.scrollTop = resultTextarea.scrollHeight; // Auto-scroll to the bottom
        }
        
        function setInfo(message) {
            const resultTextarea = document.getElementById('telescope-info');
            resultTextarea.value = message;
        }

        function setPEC(message) {
            const resultTextarea = document.getElementById('pec_table');
            resultTextarea.value = message;
        }
        

        function sendDirection(direction) {
            submit('/control_move',
                `direction=${direction}`
            );
        }
        
        function sendSpeed(speed) {
            submit('/control_speed',
                `speed=${speed}`
            );
        }
        
        function sendStop() {
            submit('/control_stop',
                `direction=`
            );
        }

        function receivePEC() {
            fetch('/command_receivePEC', {
                method: 'GET'
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    const pecTable = data.pec_table;
                    const formattedTable = pecTable.map((value, index) => {
                        return index % 2 === 0 ? `${value},` : `${value}\n`;
                    }).join('');
                    last_pec = formattedTable;
                    setPEC(last_pec)
                    appendToResult('Received PEC table successfully.');
                } else {
                    appendToResult('Error: ' + data.message);
                }
            })
            .catch((error) => {
                appendToResult('Error: ' + error);
            });
        }

        function sendPEC() {
            const pecTableText = document.getElementById('pec_table').value;
            const pecTableLines = pecTableText.split('\n');
            const pecTable = [];

            pecTableLines.forEach(line => {
                const [x, y] = line.split(',').map(Number);
                if (!isNaN(x) && !isNaN(y)) {
                    pecTable.push(x, y);
                }
            });

            submitJSON('/command_sendPEC',
                { pec_table: pecTable }
            );
        }


        function uploadFirmware() {
            const form = document.getElementById('uploadForm');
            const formData = new FormData(form);
            appendToResult('Starting firmware upload. Please do not disconnect telescope.');
            fetch('/command_upload', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                appendToResult('Upload Success: ' + JSON.stringify(data, null, 2));
            })
            .catch((error) => {
                appendToResult('Error: ' + error);
            });
        }

        function resetArduino() {
            if (confirm("Are you sure you want to reset the Arduino?")) {
                submit('/command_reset', '');
            } else {
                appendToResult('Arduino reset canceled.');
            }        
        }

        function getInfo() {
            fetch('/command_info', {
                method: 'GET'
            })
            .then(response => response.json())
            .then(data => {
                last_info = data.info;
                setInfo(last_info)
            })
            .catch((error) => {
                appendToResult('Error: ' + error);
            });
        }

        function updateScopeInfo() {
            fetch('/scope_info')
                .then(response => response.json())
                .then(data => {
                    if(data.pier) {
                        document.getElementById('pier_w').checked = (data.pier === 'W');
                        document.getElementById('pier_e').checked = (data.pier === 'E');
                        document.getElementById('tracking').checked = (data.tracking === 'enabled');
                        document.getElementById('quiet').checked = (data.quiet);
                        btnCamStart = document.getElementById('camera-shooting');
                        if(data.camera.state === 'shooting') {
                            btnCamStart.innerText = 'STOP';
                            btnCamStart.style.backgroundColor = 'lightcoral'; // Change to light red
                        } else {
                            btnCamStart.innerText = 'START';
                            btnCamStart.style.backgroundColor = ''; // Reset to default
                        }
                        PEC_wheel.setPECPositon(data.pec.progress);
                    }
                })  
            .catch(error => appendToResult('Error:', error));
        }
        
        setInterval(updateScopeInfo, 1000);

        function setPier(pier) {
            submitSetting("pier", pier);
        }
        
        function setTracking(isTracking) {
            submitSetting("tracking", isTracking);
        }

        function setQuiet(isQuiet) {
            submitSetting("quiet", isQuiet);
        }

        function setPECPosition() {
            submitSetting("pec_position", PEC_wheel.getPECPosition());
        }

        function submitCamera() {
            const shots = document.getElementById('shots-input').value.trim();
            const exposure = document.getElementById('exposure-input').value.trim();
            submitJSON('/set_camera', 
                { shots: shots, exposure: exposure }
            );
        }

        function startCamera() {
            btnCamStart = document.getElementById('camera-shooting');
            submitJSON('/command_camera',
                {action: btnCamStart.innerText}
            );
        }

        function submitGoto() {
            const ra = document.getElementById('ra-input').value.trim();
            const dec = document.getElementById('dec-input').value.trim();

            if (!validateRA(ra) || !validateDEC(dec)) {
                appendToResult('Error: Invalid RA or DEC format.');
                return;
            }
            submitJSON('/command_goto',
                { ra: ra, dec: dec }
            );
        }

        function submitSetTo() {
            const ra = document.getElementById('ra-input').value.trim();
            const dec = document.getElementById('dec-input').value.trim();

            if (!validateRA(ra) || !validateDEC(dec)) {
                appendToResult('Error: Invalid RA or DEC format.');
                return;
            }
            submitJSON('/command_set_to',
                { ra: ra, dec: dec }
            );
        }

        function validateRA(ra) {
            const raPattern = /^[+-][0-2][0-9]:[0-5][0-9]:[0-5][0-9]#$/;
            return raPattern.test(ra);
        }

        function validateDEC(dec) {
            const decPattern = /^[+-][0-9][0-9]\*[0-5][0-9]'[0-5][0-9]#$/;
            return decPattern.test(dec);
        }

        // Apply input mask for RA
        Inputmask({
            mask: "+23:59:59#",
            placeholder: "+HH:MM:SS#",
            definitions: {
                '2': { validator: "[0-2]" }, 
                '3': { validator: "[0-3]" }, 
                '5': { validator: "[0-5]" },  
                '9': { validator: "[0-9]" }, 
            }
        }).mask(document.getElementById('ra-input'));

        // Apply input mask for DEC
        Inputmask({
            mask: "[+|-]99\\*59'59#",
            placeholder: "+DD*MM'SS#",
            definitions: {
                '5': { validator: "[0-5]" },
                '9': { validator: "[0-9]" },
            }
        }).mask(document.getElementById('dec-input'));


        function submitSetting(name, value) {
            submit(`/set_${name}`,`${name}=${value}`);
        }

        function submit(name, body) {
            fetch(name, {
                method: 'POST',
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                body: body
            })
            .then(response => {
                if (!response.ok) {
                    // Throw an error to trigger the .catch block
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json(); // Parse the JSON response
            })
            .then(data => {
              appendToResult('Success: ' + JSON.stringify(data));
            })
            .catch(error => appendToResult('Error:', error.message));
        }

        function submitJSON(name, obj) {

            fetch(name, {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(obj)
            })
            .then(response => {
                if (!response.ok) {
                    // Throw an error to trigger the .catch block
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json(); // Parse the JSON response
            })
            .then(data => {
              appendToResult('Success: ' + JSON.stringify(data));
            })
            .catch(error => appendToResult('Error:', error.message));
        }

    </script>
</body>
</html>