<!DOCTYPE html>
<html>
<head>
    <title>Telescope Control</title>
    <link rel="stylesheet" href="../static/style.css" />
    <script src="../static/inputmask.min.js"></script>
    <script src="../static/wheel.js"></script>
</head>
<body>
    <span>Telescope Control</span>
    <div>
        <div class="telescope-container">
            <div id="control-buttons">
            <table>
                <tr>
                    <img src="../static/PIPITREK.webp" id="pipitrekImage" style="width: 100%; max-width: 196px; margin-top: 0px; ">
                </tr>
                <tr>
                    <td>
                        <button class="control-button" onclick="sendSpeed('G')">slow</button>
                    </td>
                    <td>
                        <button class="control-button" onclick="sendDirection('n')">↑</button>
                    </td>
                    <td>
                        <button class="control-button" onclick="sendSpeed('M')">med</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="control-button" onclick="sendDirection('e')">←</button>
                    </td>
                    <td><button class="control-button" onclick="sendStop()">Stop</button></td>
                    <td>
                        <button class="control-button" onclick="sendDirection('w')">→</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="control-button" onclick="sendSpeed('S')">fast</button>
                    </td>
                    <td>
                        <button class="control-button" onclick="sendDirection('s')">↓</button>
                    </td>
                    <td></td>
                </tr>

            </table>       
        </div>

        <div id="command-buttons">
            
            <div class = 'boxy'>
                <div class = 'two_buttons'>
                    <button class="command-button" onclick="getInfo()">Get Info</button>
                    <button class="command-button" onclick="resetArduino()">Reset</button>
                </div>
                <div class = 'two_buttons'>
                    <button class="command-button" onclick="receivePEC()">Receive PEC</button>
                    <button class="command-button" onclick="sendPEC()">Send PEC</button>
                </div>
            </div>
            <div class = 'boxy'>
                <div class = 'two_buttons'>
                    <div style="width:120px;">
                        <input type="checkbox" id="tracking" onchange="setTracking(this.checked)" checked>
                        <label for="tracking">Tracking</label>
                    </div>
                    <div style="width:120px;">
                        <label>Pier:</label>
                        <input type="radio" id="pier_w" name="pier" value="W" onchange="setPier(this.value)">
                        <label for="pier_w">W</label>
                        <input type="radio" id="pier_e" name="pier" value="E" onchange="setPier(this.value)">
                        <label for="pier_e">E</label>
                    </div>
                </div>
                <div class = 'two_buttons'>
                    <div style="width:120px;">
                        <input type="checkbox" id="quiet" onchange="setQuiet(this.checked)">
                        <label for="quiet">Quiet mode</label>
                    </div>
                    <div>
                    </div>
                </div>
            </div>

            <div class = 'boxy'>
                <div class = 'two_buttons'>
                    <div style="width:120px;">
                        RA<span id="ra_current">00:00:00</span>
                    </div>
                    <div style="width:120px;">
                        DEC<span id="dec_current">+00*00:00</span>
                    </div>
                </div>
            </div>

            <div class = 'boxy'>
                <div class = 'two_buttons'>
                    <div>
                        <label for="ra-input">RA</label>
                        <input class="two_buttons_input" type="text" id="ra-input" placeholder="+HH:MM:SS"  required>
                    </div>
                    <button class="command-button" onclick="submitSetTo()">SET to</button>
                </div>
                <div class = 'two_buttons'>
                    <div>
                        <label for="dec-input">DE</label>
                        <input class="two_buttons_input" type="text" id="dec-input" placeholder="+DD*MM:SS"  required>
                    </div>
                    <button class="command-button" onclick="submitGoto()">GOTO</button>
                </div>
            </div>
            
            <div class = 'boxy'>
                <div class = 'two_buttons'>
                    <div>
                        Camera :
                        <input class="num_input" type="text" id="shots-input" placeholder="0">
                        <label for="shots-input">shots </label>
                    </div>
                    <div>
                        <input class="num_input" type="text" id="exposure-input" placeholder="30">
                        <label for="exposure-input">sec</label>                        
                    </div>
                </div>
                <div class = 'two_buttons'>
                    <button class="command-button" onclick="submitCamera()">SET</button>
                    <button id="camera-shooting" class="command-button" onclick="startCamera()">START</button>
                </div>
            </div>

            <div class = 'boxy'>
                <div class = 'two_buttons'>
                    <div>
                        <div>
                            Backlash comp
                        </div>
                        <div>
                            <button class="command-button" onclick="submitBacklash()">SET</button>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label for="bc_ra-input">RA</label>
                            <input class="two_buttons_input" type="text" id="bc_ra-input" >
                        </div>
                        <div>
                            <label for="bc_dec-input">DE</label>
                            <input class="two_buttons_input" type="text" id="bc_dec-input" >
                        </div>
                    </div>
                </div>
            </div>

            <div class = 'boxy'>
                <div class = 'two_buttons'>
                    <div style="width:120px;">
                        <canvas id="pec-wheel" width="80" height="80"></canvas>
                    </div>
                    <div>
                        <br>
                        <label for="pec-position">PEC</label>
                        <input class="mini_num_input" type="text" id="pec-position" value="0">
                        <button class="mini-button" onclick="setPECPosition()">SET</button>
                    </div>
                </div>
            </div>
            <div id="upload-firmware" class="boxy">
                <form id="uploadForm" enctype="multipart/form-data" style="width:100%;">
                    <input type="file" id="firmware" name="firmware" accept=".hex" style="width:100%;">
                </form>
                <div class = 'two_buttons'>
                    <span style="width:120px; margin-top:4px;font-size:16px;">Firmware</span>
                    <button class="command-button red" type="button" onclick="uploadFirmware()">Upload</button>
                </div>
            </div>

        </div>
        <div id="info-boxes" class = "flex1">
            <textarea id="telescope-info"  placeholder="INFO"></textarea>
            <textarea id="pec_table" placeholder="PEC Table"></textarea>       
        </div>
    </div>
    <div>
        <div id="result-boxes" class = "flex1">
            <textarea id="result" placeholder="Result"></textarea>
        </div>
    </div>

    </div>
    

    <script>
        PEC_wheel = make_wheel();

        function appendToResult(message) {
            const resultTextarea = document.getElementById('result');
            resultTextarea.value += message + '\n';
            resultTextarea.scrollTop = resultTextarea.scrollHeight; // Auto-scroll to the bottom
        }
        
        function setInfo(message) {
            const resultTextarea = document.getElementById('telescope-info');
            resultTextarea.value = message;
        }

        function setPEC(message) {
            const resultTextarea = document.getElementById('pec_table');
            resultTextarea.value = message;
        }
        
        function handleSlewingEffect(slewing) {
            const image = document.getElementById('pipitrekImage');

            if (slewing) {
                image.classList.add('psychedelic'); // Add the effect
            } else {
                image.classList.remove('psychedelic'); // Remove the effect
            }
        }

        const ws = new WebSocket('ws://' + window.location.hostname + '/telescope_socket');
    
        ws.onmessage = function(event) {
            const data = JSON.parse(event.data);
            appendToResult(event.data);
            if (data.function === "slew_request") {
                const message = `We have a slew request to coordinates RA: ${data.ra}, DEC: ${data.dec}. Do you want to apply?`;
                if (confirm(message)) {
                    // If the user confirms, send the slew command
                    //submitJSON('/command_slew', { ra: data.ra, dec: data.dec });
                    document.getElementById('ra-input').value = data.ra;
                    document.getElementById('dec-input').value = data.dec;
                    appendToResult('Slew request applied.');
                } else {
                    appendToResult('Slew request declined.');
                }
            }
        };

        ws.onclose = function() {
            appendToResult("Websocket closed.")
        };


        function sendDirection(direction) {
            submit('/control_move',
                `direction=${direction}`
            );
        }
        
        function sendSpeed(speed) {
            submit('/control_speed',
                `speed=${speed}`
            );
        }
        
        function sendStop() {
            submit('/control_stop',
                `direction=`
            );
        }

        function receivePEC() {
            fetch('/command_receivePEC', {
                method: 'GET'
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    const pecTable = data.pec_table;
                    const formattedTable = pecTable.map((value, index) => {
                        return index % 2 === 0 ? `${value},` : `${value}\n`;
                    }).join('');
                    setPEC(formattedTable)
                    appendToResult('Received PEC table successfully.');
                } else {
                    appendToResult('Error: ' + data.message);
                }
            })
            .catch((error) => {
                appendToResult('Error: ' + error);
            });
        }

        function sendPEC() {
            const pecTableText = document.getElementById('pec_table').value;
            const pecTableLines = pecTableText.split('\n');
            const pecTable = [];

            pecTableLines.forEach(line => {
                const [x, y] = line.split(',').map(Number);
                if (!isNaN(x) && !isNaN(y)) {
                    pecTable.push(x, y);
                }
            });

            submitJSON('/command_sendPEC',
                { pec_table: pecTable }
            );
        }


        function uploadFirmware() {
            const form = document.getElementById('uploadForm');
            const formData = new FormData(form);
            appendToResult('Starting firmware upload. Please do not disconnect telescope.');
            fetch('/command_upload', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                appendToResult('Upload Success: ' + JSON.stringify(data, null, 2));
            })
            .catch((error) => {
                appendToResult('Error: ' + error);
            });
        }

        function resetArduino() {
            if (confirm("Are you sure you want to reset the Arduino?")) {
                submit('/command_reset', '');
            } else {
                appendToResult('Arduino reset canceled.');
            }        
        }

        function getInfo() {
            fetch('/command_info', {
                method: 'GET'
            })
            .then(response => response.json())
            .then(data => {
                setInfo(data.info)
            })
            .catch((error) => {
                appendToResult('Error: ' + error);
            });
        }

        function updateScopeInfo() {
            fetch('/scope_info')
                .then(response => response.json())
                .then(data => {
                    if(data.text) setInfo(data["text"])
                    if(data.pier) {
                        document.getElementById('pier_w').checked = (data.pier === 'W');
                        document.getElementById('pier_e').checked = (data.pier === 'E');
                    }
                    if(data.tracking) document.getElementById('tracking').checked = (data.tracking === 'enabled');
                    document.getElementById('quiet').checked = (data.quiet);
                    btnCamStart = document.getElementById('camera-shooting');
                    if(data.camera) {
                        if(data.camera.state === 'shooting') {
                            btnCamStart.innerText = 'STOP';
                            btnCamStart.style.backgroundColor = 'lightcoral'; // Change to light red
                        } else {
                            btnCamStart.innerText = 'START';
                            btnCamStart.style.backgroundColor = ''; // Reset to default
                        }
                    }
                    if(data.pec) PEC_wheel.setPECPositon(data.pec.progress);
                    if(data.coordinates) {
                        document.getElementById('ra_current').textContent = data.coordinates.ra;
                        document.getElementById('dec_current').textContent = data.coordinates.dec;                        
                    }                    

                    if(data.bc) {
                        document.getElementById('bc_ra-input').textContent = data.bc.ra;
                        document.getElementById('bc_dec-input').textContent = data.bc.dec;
                    }

                    if (data.slewing !== undefined) {
                        handleSlewingEffect(data.slewing);
                    }
                })  
            .catch(error => appendToResult('Error:', error));
        }
        
        setInterval(updateScopeInfo, 1000);

        function setPier(pier) {
            submitSetting("pier", pier);
        }
        
        function setTracking(isTracking) {
            submitSetting("tracking", isTracking);
        }

        function setQuiet(isQuiet) {
            submitSetting("quiet", isQuiet);
        }

        function setPECPosition() {
            submitSetting("pec_position", PEC_wheel.getPECPosition());
        }

        function submitCamera() {
            const shots = document.getElementById('shots-input').value.trim();
            const exposure = document.getElementById('exposure-input').value.trim();
            submitJSON('/set_camera', 
                { shots: shots, exposure: exposure }
            );
        }

        function startCamera() {
            btnCamStart = document.getElementById('camera-shooting');
            submitJSON('/command_camera',
                {action: btnCamStart.innerText}
            );
        }

        function submitBacklash() {
            const ra = document.getElementById('bc_ra-input').value.trim();
            const dec = document.getElementById('bc_dec-input').value.trim();
            submitJSON('/set_backlash', 
                { ra: ra, dec: dec }
            );
        }

        function submitGoto() {
            const ra = document.getElementById('ra-input').value.trim();
            const dec = document.getElementById('dec-input').value.trim();

            if (!validateRA(ra) || !validateDEC(dec)) {
                appendToResult('Error: Invalid RA or DEC format.');
                return;
            }
            submitJSON('/command_goto',
                { ra: ra, dec: dec }
            );
        }

        function submitSetTo() {
            const ra = document.getElementById('ra-input').value.trim();
            const dec = document.getElementById('dec-input').value.trim();

            if (!validateRA(ra) || !validateDEC(dec)) {
                appendToResult('Error: Invalid RA or DEC format.');
                return;
            }
            submitJSON('/command_set_to',
                { ra: ra, dec: dec }
            );
        }

        function validateRA(ra) {
            const raPattern = /^[0-2][0-9]:[0-5][0-9]:[0-5][0-9]$/;
            return raPattern.test(ra);
        }

        function validateDEC(dec) {
            const decPattern = /^[+-][0-9][0-9]\*[0-5][0-9]:[0-5][0-9]$/;
            return decPattern.test(dec);
        }

        // Apply input mask for RA
        Inputmask({
            mask: "23:59:59",
            placeholder: "HH:MM:SS",
            definitions: {
                '2': { validator: "[0-2]" }, 
                '3': { validator: "[0-9]" }, 
                '5': { validator: "[0-5]" },  
                '9': { validator: "[0-9]" }, 
            }
        }).mask(document.getElementById('ra-input'));

        // Apply input mask for DEC
        Inputmask({
            mask: "[+|-]99\\*59:59",
            placeholder: "+DD*MM:SS",
            definitions: {
                '5': { validator: "[0-5]" },
                '9': { validator: "[0-9]" },
            }
        }).mask(document.getElementById('dec-input'));


        function submitSetting(name, value) {
            submit(`/set_${name}`,`${name}=${value}`);
        }

        function submit(name, body) {
            fetch(name, {
                method: 'POST',
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                body: body
            })
            .then(response => {
                if (!response.ok) {
                    // Throw an error to trigger the .catch block
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json(); // Parse the JSON response
            })
            .then(data => {
              appendToResult('Success: ' + JSON.stringify(data));
            })
            .catch(error => appendToResult('Error:', error.message));
        }

        function submitJSON(name, obj) {

            fetch(name, {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(obj)
            })
            .then(response => {
                if (!response.ok) {
                    // Throw an error to trigger the .catch block
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json(); // Parse the JSON response
            })
            .then(data => {
              appendToResult('Success: ' + JSON.stringify(data));
            })
            .catch(error => appendToResult('Error:', error.message));
        }

    </script>
</body>
</html>