<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equatorial Telescope VR</title>
    <link rel="stylesheet" href="../static/style.css" />
    <script type="importmap">
        {
            "imports": {
                "three": "/static/three/three.module.min.js",
                "OrbitControls": "/static/three/OrbitControls.js",
                "DigitalBacon-UI": "/static/three/DigitalBacon-UI.min.js"
            }
        }</script>
</head>
<body>
    <div id="controls" style="position: absolute;top:0;left:0;overflow: hidden;z-index: 100;">
        <label>RA (deg): <input type="range" id="raSlider" min="0" max="360" value="0"></label><br>
        <label>Dec (deg): <input type="range" id="decSlider" min="-180" max="180" value="0"></label><br>
        <label>Object RA (HH:MM:SS): <input type="text" id="raInput" value="13:45:22"></label><br>
        <label>Object Dec (DD*MM:SS): <input type="text" id="decInput" value="-12*23:34"></label><br>
        <label>Longitude (deg): <input type="text" id="longitudeInput" value="14.5058"></label><br>
        <label>Lattitude (deg): <input type="text" id="lattitudeInput" value="46.0569"></label><br>
        <button class="command-button" id="pointTelescope">Point</button>
        <button class="command-button" id="pointRealTelescope">Point</button><br>
        <button class="command-button" id="meridianFlip">M. Flip</button>
        <button class="command-button" style="width:100px;height:50px;" id="enterVR">VR</button>
    </div>
    <div id="telescopeContainer" style="position: absolute;width:100vw;height:100vh;top:0;left:0;overflow: hidden;z-index: -1;">
        <canvas id="telescopeCanvas"></canvas>
    </div>
    <script src="/static/starCatalog.js"></script>
    <script src="/static/ngcCatalog.js"></script>
    
    
    <script type="module">
        import { TelescopeSim } from '/static/telescope_sim.js';
        import { calculateLST, HoursMinutesSeconds, Degrees, parseRA, parseDec } from '/static/astroutils.js';

        // Initialize telescope simulation
        const canvas = document.getElementById('telescopeCanvas');
        const container = document.getElementById('telescopeContainer');
        const latitude = parseFloat(document.getElementById('lattitudeInput').value);
        const longitude = parseFloat(document.getElementById('longitudeInput').value);
        var blockUpdate=false;

        const telescopeSim = new TelescopeSim(container, canvas);
        telescopeSim.enableWebXR();
        telescopeSim.addNGCs(ngcCatalog, 13);
        telescopeSim.addStarfield(starCatalog, 7);
        telescopeSim.addMusic('/static/music/Vbazi.mp3');
        telescopeSim.addSounds('/static/music');
        
        fetch('https://' + window.location.host + '/static/astroImages/catalog.json')
        .then(response => response.json())
        .then(data => {
                data.forEach(item => {
                    telescopeSim.addImage(
                        '/static/astroImages/'+item.file,
                        item.name,
                        item.ra,
                        item.dec,
                        parseFloat(item.arcsecPerPixel),
                        parseFloat(item.rotation)
                    );
                    console.log(`Added image: ${item.name} at RA=${item.ra}, Dec=${item.dec}`);
                });
        })
        .catch(error => {
            console.error('Error loading catalog.json:', error);
        });


        // Controls
        const raSlider = document.getElementById('raSlider');
        const decSlider = document.getElementById('decSlider');
        const meridianFlipButton = document.getElementById('meridianFlip');
        const pointTelescopeButton = document.getElementById('pointTelescope');
        const pointRealTelescopeButton = document.getElementById('pointRealTelescope');
        const raInput = document.getElementById('raInput');
        const decInput = document.getElementById('decInput');
        const enterVRButton = document.getElementById('enterVR');


        telescopeSim.onSelect( (catalog, index) => {
            if(index === null) {

            } else {
                const [raStr, decStr] = catalog[index];
                raInput.value = raStr;
                decInput.value = decStr;
            }
        });

        telescopeSim.onAction( (catalog, index) => {
            if(index === null) {

            } else {
                const [raStr, decStr] = catalog[index];
                submitJSON('/command_goto', { ra: raStr, dec: decStr });
            }
        });

        raSlider.addEventListener('input', () => {
            const ra = parseFloat(raSlider.value);
            const dec = parseFloat(decSlider.value);
            telescopeSim.setAngles(ra, dec);
        });

        decSlider.addEventListener('input', () => {
            const ra = parseFloat(raSlider.value);
            const dec = parseFloat(decSlider.value);
            telescopeSim.setAngles(ra, dec);
        });

        meridianFlipButton.addEventListener('click', () => {
            telescopeSim.meridianFlip();
            raSlider.value = telescopeSim.raAngle;
            decSlider.value = telescopeSim.decAngle;
        });

        pointTelescopeButton.addEventListener('click', () => {
            const raStr = raInput.value;
            const decStr = decInput.value;
            telescopeSim.pointTelescope(raStr, decStr, true);
            raSlider.value = telescopeSim.raAngle;
            decSlider.value = telescopeSim.decAngle;
        });

        /*pointRealTelescopeButton.addEventListener('click', () => {
            const raStr = raInput.value;
            const decStr = decInput.value;
            submitJSON('/command_goto', { ra: raStr, dec: decStr });
        });*/

        enterVRButton.addEventListener('click', () => {
            telescopeSim.enterVR();
        });


        // Handle window resize
        window.addEventListener('resize', () => {
            telescopeSim.resize(container.clientWidth, container.clientHeight);
        });

        // Initial resize
        telescopeSim.resize(container.clientWidth, container.clientHeight);


        var video_feed_ws = null;
        var initializedLive = false;
        function _startVideoFeed(url) {
            _stopVideoFeed();
            video_feed_ws = new WebSocket(url);

            video_feed_ws.onmessage = function(event) {
                if(!initializedLive) {
                    telescopeSim.addLiveImage(event.data, 3.2);
                    initializedLive = true;
                }else {
                    telescopeSim.updateLiveImage(event.data);
                }
            };

            video_feed_ws.onclose = function() {
                console.error('WebSocket connection closed');
            };

            video_feed_ws.onerror = function(error) {
                console.error('WebSocket error:', error);
            };
        }
        function _stopVideoFeed() {
            if(video_feed_ws) {
                video_feed_ws.close();
                video_feed_ws = null;
            }
        }
        //_startVideoFeed('wss://' + window.location.host + '/video_feed_ws');


        function submitJSON(name, obj) {

            fetch(name, {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(obj)
            })
            .then(response => {
                if (!response.ok) {
                    // Throw an error to trigger the .catch block
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json(); // Parse the JSON response
            })
            .then(data => {
            console.log('Success: ' + JSON.stringify(data));
            })
            .catch(error => console.log('Error:', error.message));
        }


        function updateScopeInfo() {
            fetch('/scope_info')
                .then(response => response.json())
                .then(data => {
                    if(data.pier) {
                        telescopeSim.setPier(data.pier=='W');
                    }
                    
                    if(data.coordinates) {
                        raInput.value = data.coordinates.ra;
                        decInput.value = data.coordinates.dec;
                        telescopeSim.pointTelescope(data.coordinates.ra, data.coordinates.dec);
                    }                    

                })  
            .catch(error => console.log('Error:', error));
        }
        
        let updateCounter = 0;
        const updateInterval = 100; // 100 frames
        telescopeSim.onFrame( () => {
            updateCounter++;
            if (updateCounter > updateInterval) {
               //updateScopeInfo();
               updateCounter = 0;
            }
        });
        

    </script>
</body>
</html>